<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moirae.rosettaflow.mapper.DataSyncMapper">
  <resultMap id="BaseResultMap" type="com.moirae.rosettaflow.mapper.domain.DataSync">
    <result column="data_type" jdbcType="VARCHAR" property="dataType" />
    <result column="latest_synced" jdbcType="BIGINT" property="latestSynced" />
  </resultMap>

  <sql id="Base_Column_List">
    data_type,latest_synced
  </sql>

</mapper>