<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moirae.rosettaflow.mapper.MetaDataAuthMapper">
    <resultMap id="BaseResultMap" type="com.moirae.rosettaflow.mapper.domain.MetaDataAuth">
        <id column="meta_data_auth_id" jdbcType="VARCHAR" property="metaDataAuthId" />
        <result column="user_identity_id" jdbcType="VARCHAR" property="userIdentityId" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="user_type" jdbcType="INTEGER" property="userType" />
        <result column="meta_data_id" jdbcType="VARCHAR" property="metaDataId" />
        <result column="dfs_data_status" jdbcType="INTEGER" property="dfsDataStatus" />
        <result column="dfs_data_id" jdbcType="VARCHAR" property="dfsDataId" />
        <result column="auth_type" jdbcType="INTEGER" property="authType" />
        <result column="start_at" jdbcType="TIMESTAMP" property="startAt" />
        <result column="end_at" jdbcType="TIMESTAMP" property="endAt" />
        <result column="times" jdbcType="INTEGER" property="times" />
        <result column="expired" jdbcType="BOOLEAN" property="expired" />
        <result column="used_times" jdbcType="INTEGER" property="usedTimes" />
        <result column="apply_at" jdbcType="TIMESTAMP" property="applyAt" />
        <result column="audit_option" jdbcType="INTEGER" property="auditOption" />
        <result column="audit_desc" jdbcType="VARCHAR" property="auditDesc" />
        <result column="audit_at" jdbcType="TIMESTAMP" property="auditAt" />
        <result column="auth_sign" jdbcType="VARCHAR" property="authSign" />
        <result column="auth_status" jdbcType="INTEGER" property="authStatus" />
        <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
        meta_data_auth_id, user_identity_id, user_id, user_type, meta_data_id, dfs_data_status,
    dfs_data_id, auth_type, start_at, end_at, times, expired, used_times, apply_at, audit_option,
    audit_desc, audit_at, auth_sign, auth_status, update_at, create_time, update_time
    </sql>
</mapper>
