<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moirae.rosettaflow.mapper.MetaDataOldMapper">
    <resultMap id="BaseResultMap" type="com.moirae.rosettaflow.mapper.domain.MetaDataOld">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="identity_id" jdbcType="VARCHAR" property="identityId"/>
        <result column="identity_name" jdbcType="VARCHAR" property="identityName"/>
        <result column="node_id" jdbcType="VARCHAR" property="nodeId"/>
        <result column="meta_data_id" jdbcType="VARCHAR" property="metaDataId"/>
        <result column="file_id" jdbcType="VARCHAR" property="fileId"/>
        <result column="data_name" jdbcType="VARCHAR" property="dataName"/>
        <result column="data_desc" jdbcType="VARCHAR" property="dataDesc"/>
        <result column="file_path" jdbcType="VARCHAR" property="filePath"/>
        <result column="rows" jdbcType="INTEGER" property="rows"/>
        <result column="columns" jdbcType="INTEGER" property="columns"/>
        <result column="size" jdbcType="BIGINT" property="size"/>
        <result column="file_type" jdbcType="TINYINT" property="fileType"/>
        <result column="has_title" jdbcType="TINYINT" property="hasTitle"/>
        <result column="industry" jdbcType="VARCHAR" property="industry"/>
        <result column="data_status" jdbcType="TINYINT" property="dataStatus"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="publish_at" jdbcType="TIMESTAMP" property="publishAt"/>
        <result column="update_at" jdbcType="TIMESTAMP" property="updateAt"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, identity_id, identity_name, node_id, meta_data_id, file_id, data_name, data_desc,
    file_path, `rows`, `columns`, `size`, file_type, has_title, industry, data_status,
    `status`, publish_at, update_at, create_time, update_time
  </sql>

    <resultMap id="BaseResultMap_With_Auth" type="com.moirae.rosettaflow.dto.MetaDataDtoOld" extends="BaseResultMap">
        <result column="auth_status" property="authStatus" jdbcType="TINYINT"/>
    </resultMap>

    <select id="getAllAuthTables" resultType="com.moirae.rosettaflow.dto.MetaDataDtoOld">
        SELECT DISTINCT
            md.meta_data_id,
            md.identity_id,
            md.data_name
        FROM
            t_user_meta_data umd
        LEFT JOIN
            t_meta_data md
            ON umd.meta_data_id = md.meta_data_id
            AND md.`status` = 1
        WHERE
            ((umd.auth_type = 1 AND umd.expire = 0)
            OR (umd.auth_type = 2 AND used_times &lt; umd.auth_value))
        AND umd.`status` = 1
        AND umd.auth_status = 1
        AND umd.auth_metadata_state = 2
        AND md.`data_status` = 2
        AND umd.identity_id = #{identityId, jdbcType=VARCHAR}
        AND umd.address = #{address, jdbcType=VARCHAR}
    </select>

</mapper>
