<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moirae.rosettaflow.mapper.MetaDataMapper">
    <resultMap id="BaseResultMap" type="com.moirae.rosettaflow.mapper.domain.MetaData">
        <id column="meta_data_id" jdbcType="VARCHAR" property="metaDataId" />
        <result column="origin_id" jdbcType="VARCHAR" property="originId" />
        <result column="identity_id" jdbcType="VARCHAR" property="identityId" />
        <result column="file_name" jdbcType="VARCHAR" property="fileName" />
        <result column="file_path" jdbcType="VARCHAR" property="filePath" />
        <result column="file_type" jdbcType="INTEGER" property="fileType" />
        <result column="industry" jdbcType="VARCHAR" property="industry" />
        <result column="size" jdbcType="BIGINT" property="size" />
        <result column="rows" jdbcType="INTEGER" property="rows" />
        <result column="columns" jdbcType="INTEGER" property="columns" />
        <result column="published_at" jdbcType="TIMESTAMP" property="publishedAt" />
        <result column="has_title" jdbcType="BOOLEAN" property="hasTitle" />
        <result column="remarks" jdbcType="VARCHAR" property="remarks" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
        meta_data_id, origin_id, identity_id, file_name, file_path, file_type, industry,
    `size`, `rows`, `columns`, published_at, has_title, remarks, `status`, update_at,
    create_time, update_time
    </sql>
    <select id="listDataFileByIdentityId" resultType="com.moirae.rosettaflow.dto.MetaDataDto">
        select df.meta_data_id,
               df.file_name as metaDataName,
               df.file_type,
               df.size,
               df.published_at,
               df.status,
               df.update_at,
               ifnull(t.task_count,0) task_count
        from dc_meta_data df
        left join
             (
                 select tmd.meta_data_id,
                        count(tmd.task_id) as task_count
                 from dc_task_data_provider tmd
                 group by tmd.meta_data_id
             ) t on df.meta_data_id = t.meta_data_id
        where df.identity_id = #{identityId,jdbcType=VARCHAR} and df.status = 2
        order by df.published_at desc
    </select>
    <select id="getDataFile" resultType="com.moirae.rosettaflow.dto.MetaDataDto">
        select df.meta_data_id,
               df.file_name as metaDataName,
               df.identity_id,
               (select do.node_name from dc_org do where do.identity_id = df.identity_id) as nodeName,
               df.file_type,
               df.industry,
               df.size,
               df.rows,
               df.columns,
               df.published_at,
               df.remarks,
               df.status,
               df.update_at,
               ifnull(t.task_count,0) AS task_count
        from dc_meta_data df
        left join
             (
                 select tmd.meta_data_id,
                        count(tmd.task_id) as task_count
                 from dc_task_data_provider tmd
                 group by tmd.meta_data_id
             ) t on df.meta_data_id = t.meta_data_id
        where df.meta_data_id = #{metaDataId,jdbcType=VARCHAR}
    </select>
    <select id="listByNameAndAuthAddress" resultType="com.moirae.rosettaflow.dto.MetaDataDto">
        select df.meta_data_id,
               df.file_name as metaDataName,
               df.file_type,
               df.size,
               df.published_at,
               df.status,
               df.update_at,
               do.identity_id,
               do.node_name,
               <choose>
                    <when test="address != null and address != ''">
                        (select dmda.auth_status from dc_meta_data_auth dmda where dmda.meta_data_id = df.meta_data_id and dmda.user_id = #{address,jdbcType=VARCHAR} order by dmda.apply_at desc limit 1) as auth_status,
                        (select dmda.audit_option from dc_meta_data_auth dmda where dmda.meta_data_id = df.meta_data_id and dmda.user_id = #{address,jdbcType=VARCHAR} order by dmda.apply_at desc limit 1) as audit_option,
                    </when>
                    <otherwise>
                        0 as metaDataAuthStatus,
                        -1 as metaDataAuthOption,
                    </otherwise>
               </choose>
               df.industry
        from dc_meta_data df join dc_org do on df.identity_id = do.identity_id
        <where>
            df.status = 2 and do.status = 1
            <if test="dataName != null and dataName != ''">
                and df.file_name like concat('%', #{dataName, jdbcType=VARCHAR}, '%')
            </if>
        </where>
        order by df.published_at
    </select>
    <select id="listMetaDataAuth" resultType="com.moirae.rosettaflow.dto.MetaDataDto">
        select df.meta_data_id,
               df.status,
               df.file_name as metaDataName,
               dmda.meta_data_auth_id,
               dmda.auth_type,
               dmda.start_at,
               dmda.end_at,
               dmda.times,
               dmda.apply_at,
               dmda.audit_option,
               dmda.auth_status,
               do.identity_id,
               do.node_name
        from dc_meta_data_auth dmda join dc_meta_data df on dmda.meta_data_id = df.meta_data_id join dc_org do on df.identity_id = do.identity_id
        where dmda.user_id = #{address,jdbcType=VARCHAR}
        <if test="dataName != null and dataName != ''">
            and df.file_name like concat('%',#{dataName, jdbcType=VARCHAR},'%')
        </if>
        order by dmda.apply_at desc
    </select>
    <select id="getMetaDataAuthDetails" resultType="com.moirae.rosettaflow.dto.MetaDataDto">
        select df.meta_data_id,
               df.status,
               df.file_name as metaDataName,
               df.industry,
               df.published_at,
               df.update_at,
               df.file_type,
               df.size,
               df.columns,
               df.rows,
               df.remarks,
               dmda.auth_type,
               dmda.start_at,
               dmda.end_at,
               dmda.times,
               dmda.apply_at,
               do.identity_id,
               do.node_name
        from dc_meta_data_auth dmda join dc_meta_data df on dmda.meta_data_id = df.meta_data_id join dc_org do on df.identity_id = do.identity_id
        where dmda.meta_data_auth_id = #{metaDataAuthId, jdbcType=VARCHAR}
    </select>
</mapper>
