<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moirae.rosettaflow.mapper.ModelMapper">
    <select id="queryAvailableModel" resultType="com.moirae.rosettaflow.mapper.domain.Model">
        select
            m.meta_data_id as metaDataId,
            m.identity_id as identityId,
            m.name as fileName,
            m.file_path as filePath
        FROM mo_model m INNER JOIN mo_algorithm a ON m.train_algorithm_id = a.algorithm_id
        where m.train_user_address = #{address, jdbcType=VARCHAR} and m.supported_algorithm_id = #{algorithmId, jdbcType=BIGINT}
            and m.identity_id = #{identityId, jdbcType=VARCHAR}
    </select>
    <select id="getLatestModel" resultType="com.moirae.rosettaflow.mapper.domain.Model">
        select
            m.meta_data_id,
            m.identity_id,
            o.node_name,
            o.image_url,
            m.train_algorithm_id,
            m.create_time
        from mo_model m inner join dc_org o on m.identity_id = o.identity_id
        order by m.create_time desc limit #{size}
    </select>
</mapper>
