<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moirae.rosettaflow.mapper.OrgUserMapper">
    <resultMap id="BaseResultMap" type="com.moirae.rosettaflow.mapper.domain.OrgUser">
        <id column="identity_id" jdbcType="VARCHAR" property="identityId"/>
        <id column="address" jdbcType="VARCHAR" property="address"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <select id="getIdentityIdListByUser" resultType="java.lang.String">
        SELECT o.`identity_id`
        FROM `dc_org` o join `mo_org_expand` oe on o.`identity_id` = oe.`identity_id`
        WHERE o.`status` = 1 AND (oe.`is_public` = 1 OR o.`identity_id` IN ( SELECT `identity_id` FROM `mo_org_user` WHERE `address` = #{address, jdbcType=VARCHAR}))
    </select>

    <select id="getOrganizationListByUser" resultType="com.moirae.rosettaflow.dto.OrganizationDto">
        SELECT
            o.`node_name`,
            o.`identity_id`,
            oe.`identity_ip`,
            oe.`identity_port`,
            oe.`is_public` as public_flag
        FROM `dc_org` o join `mo_org_expand` oe on o.`identity_id` = oe.`identity_id`
        WHERE `status` = 1 AND (oe.`is_public` = 1 OR o.`identity_id` IN ( SELECT `identity_id` FROM `mo_org_user` WHERE `address` = #{address, jdbcType=VARCHAR}))
    </select>
</mapper>
