<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moirae.rosettaflow.mapper.StatsTokenMapper">
    <select id="getDataTokenUsedTop" resultType="com.moirae.rosettaflow.mapper.domain.StatsToken">
        select msd.token_used as tokenUsed,
               mt.name as tokenName,
               mt.address as tokenAddress
        from mo_stats_token msd inner join dc_meta_data dmd on msd.address = dmd.token_address
            inner join mo_token mt on dmd.token_address = mt.address
        order by msd.token_used desc
        limit #{size}
    </select>
</mapper>
