<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moirae.rosettaflow.mapper.StatisticsMapper">

    <select id="listGlobalDataFileStatsTrendMonthly"
            resultType="com.moirae.rosettaflow.mapper.domain.StatisticsDataTrend">

        SELECT t.stats_time,
               IFNULL(d.month_size,0) as increment_value,
               IFNULL(d.accu_size,0) as total_value
        FROM (
                 SELECT DATE_FORMAT(DATE_SUB(CURRENT_DATE(), INTERVAL 12 MONTH), '%Y-%m') AS stats_time
                 UNION SELECT DATE_FORMAT(DATE_SUB(CURRENT_DATE(), INTERVAL 11 MONTH), '%Y-%m') AS stats_time
                 UNION SELECT DATE_FORMAT(DATE_SUB(CURRENT_DATE(), INTERVAL 10 MONTH), '%Y-%m') AS stats_time
                 UNION SELECT DATE_FORMAT(DATE_SUB(CURRENT_DATE(), INTERVAL 9 MONTH), '%Y-%m') AS stats_time
                 UNION SELECT DATE_FORMAT(DATE_SUB(CURRENT_DATE(), INTERVAL 8 MONTH), '%Y-%m') AS stats_time
                 UNION SELECT DATE_FORMAT(DATE_SUB(CURRENT_DATE(), INTERVAL 7 MONTH), '%Y-%m') AS stats_time
                 UNION SELECT DATE_FORMAT(DATE_SUB(CURRENT_DATE(), INTERVAL 6 MONTH), '%Y-%m') AS stats_time
                 UNION SELECT DATE_FORMAT(DATE_SUB(CURRENT_DATE(), INTERVAL 5 MONTH), '%Y-%m') AS stats_time
                 UNION SELECT DATE_FORMAT(DATE_SUB(CURRENT_DATE(), INTERVAL 4 MONTH), '%Y-%m') AS stats_time
                 UNION SELECT DATE_FORMAT(DATE_SUB(CURRENT_DATE(), INTERVAL 3 MONTH), '%Y-%m') AS stats_time
                 UNION SELECT DATE_FORMAT(DATE_SUB(CURRENT_DATE(), INTERVAL 2 MONTH), '%Y-%m') AS stats_time
                 UNION SELECT DATE_FORMAT(DATE_SUB(CURRENT_DATE(), INTERVAL 1 MONTH), '%Y-%m') AS stats_time
             ) t
                 LEFT JOIN (SELECT stats_time, month_size, accu_size FROM v_data_file_stats_monthly) d ON t.stats_time = d.stats_time
        ORDER BY t.stats_time

    </select>
    <select id="globalStats" resultType="com.moirae.rosettaflow.mapper.domain.StatsGlobal">
        select
            total_org_count, power_org_count, data_file_size, used_data_file_size, task_count, partner_count, total_core, total_memory, total_bandwidth
        from v_global_stats
    </select>
</mapper>
