<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moirae.rosettaflow.mapper.UserOrgMaintainMapper">
    <resultMap id="BaseResultMap" type="com.moirae.rosettaflow.mapper.domain.UserOrgMaintain">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="identity_id" jdbcType="VARCHAR" property="identityId"/>
        <result column="identity_ip" jdbcType="VARCHAR" property="identityIp"/>
        <result column="identity_port" jdbcType="INTEGER" property="identityPort"/>
        <result column="valid_flag" jdbcType="TINYINT" property="validFlag"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, address, identity_id, identity_ip, identity_port, `status`, create_time, update_time
    </sql>
    <select id="queryUserOrgMaintainPageList" resultType="com.moirae.rosettaflow.dto.UserOrgMaintainDto">
        SELECT
        uo.id,
        o.node_name AS nodeName,
        o.identity_id as identityId,
        o.identity_ip as identityIp,
        o.identity_port identityPort,
        o.public_flag as publicFlag,
        IFNULL(uo.valid_flag,1) as validFlag,
        uo.create_time as createTime,
        uo.update_time as updateTime
        FROM
        t_user_org_maintain uo
        INNER JOIN t_organization o ON uo.identity_id = o.identity_id
        WHERE
        uo.address = #{address, jdbcType=VARCHAR}
        <if test="orgName != null and orgName != ''">
            AND o.node_name = #{orgName, jdbcType=VARCHAR}
        </if>
        AND o.public_flag = 0
        AND o.`status`=1
        AND uo.`status`=1
        union ALL
        SELECT
        0 as id,
        o.node_name AS nodeName,
        o.identity_id as identityId,
        o.identity_ip as identityIp,
        o.identity_port identityPort,
        o.public_flag as publicFlag,
        1 as validFlag,
        o.create_time as createTime,
        o.update_time as updateTime
        FROM
        t_organization o
    </select>
</mapper>
