<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moirae.rosettaflow.mapper.WorkflowNodeMapper">
    <resultMap id="BaseResultMap" type="com.moirae.rosettaflow.mapper.domain.WorkflowNode">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="workflow_id" jdbcType="BIGINT" property="workflowId"/>
        <result column="node_name" jdbcType="VARCHAR" property="nodeName"/>
        <result column="algorithm_id" jdbcType="BIGINT" property="algorithmId"/>
        <result column="node_step" jdbcType="INTEGER" property="nodeStep"/>
        <result column="model_id" jdbcType="BIGINT" property="modelId"/>
        <result column="run_status" jdbcType="TINYINT" property="runStatus"/>
        <result column="task_id" jdbcType="VARCHAR" property="taskId"/>
        <result column="run_msg" jdbcType="VARCHAR" property="runMsg"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <select id="queryWorkflowNodeAndStatusList" resultType="com.moirae.rosettaflow.mapper.domain.WorkflowNode">
        SELECT
            wn.`id` AS workflowNodeId,
            IFNULL((SELECT wns.`run_status` FROM `t_workflow_run_task_status` wns WHERE wns.`workflow_node_id` = wn.`id` ORDER BY wns.`id` DESC LIMIT 1) , 0) AS runStatus,
            IFNULL((SELECT wns.`run_msg` FROM `t_workflow_run_task_status` wns WHERE wns.`workflow_node_id` = wn.`id` ORDER BY wns.`id` DESC LIMIT 1) , 0) AS runMsg,
            wn.`id` AS id,
            wn.`workflow_id` AS workflowId,
            wn.`node_name` AS nodeName,
            wn.`algorithm_id` AS algorithmId,
            wn.`node_step` AS nodeStep,
            wn.`model_id` AS modelId,
            (SELECT wns.`task_id` FROM `t_workflow_run_task_status` wns WHERE wns.`workflow_node_id` = wn.`id` ORDER BY wns.`id` DESC LIMIT 1) AS taskId,
            wn.`sender_identity_id` AS workflowNodeSenderIdentityId
        FROM `t_workflow_node` wn
        WHERE wn.`workflow_id` = #{workflowId, jdbcType=BIGINT} AND wn.`workflow_edit_version` = #{editVersion, jdbcType=INTEGER}
    </select>
</mapper>
