<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moirae.rosettaflow.mapper.WorkflowNodeOutputMapper">
    <resultMap id="BaseResultMap" type="com.moirae.rosettaflow.mapper.domain.WorkflowNodeOutput">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="workflow_node_id" jdbcType="BIGINT" property="workflowNodeId"/>
        <result column="identity_id" jdbcType="VARCHAR" property="identityId"/>
        <result column="store_pattern" jdbcType="TINYINT" property="storePattern"/>
        <result column="output_content" jdbcType="VARCHAR" property="outputContent"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, workflow_node_id, identity_id, party_id, sender_flag,
        store_pattern, store_path, output_content, `status`, create_time, update_time
    </sql>

    <select id="getWorkflowNodeOutputAndOrgNameByNodeId" resultType="com.moirae.rosettaflow.mapper.domain.WorkflowNodeOutput">
        select a.id               as id,
               a.workflow_node_id as workflowNodeId,
               a.identity_id      as identityId,
               a.store_pattern    as storePattern,
               a.output_content   as outputContent,
               b.node_name        as identityName
        from t_workflow_node_output a left join dc_org b on a.identity_id = b.identity_id
        where a.workflow_node_id = #{workflowNodeId, jdbcType=BIGINT}
    </select>

    <select id="getOutputIdentityIdByTaskId" resultType="string">
        SELECT
            b.identity_id AS identityId
        FROM
            t_workflow_node a,
            t_workflow_node_output b
        WHERE
            a. STATUS = 1
          AND b. STATUS = 1
          AND a.id = b.workflow_node_id
          AND a.task_id = #{taskId, jdbcType=VARCHAR}
        ORDER BY
            a.id ASC
        LIMIT 1
    </select>

    <insert id="batchInsert">
        <foreach collection="workflowNodeOutputList" item="o" separator=";">
            insert into t_workflow_node_output
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="o.workflowNodeId != null">
                    workflow_node_id,
                </if>
                <if test="o.identityId != null">
                    identity_id,
                </if>
                <if test="o.partyId != null">
                    party_id,
                </if>
                <if test="o.storePattern != null">
                    store_pattern,
                </if>
                <if test="o.outputContent != null">
                    output_content,
                </if>
                <if test="o.createTime != null">
                    create_time,
                </if>
                <if test="o.updateTime != null">
                    update_time,
                </if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="o.workflowNodeId != null">
                    #{o.workflowNodeId,jdbcType=BIGINT},
                </if>
                <if test="o.identityId != null">
                    #{o.identityId,jdbcType=VARCHAR},
                </if>
                <if test="o.partyId != null">
                    #{o.partyId,jdbcType=VARCHAR},
                </if>
                <if test="o.storePattern != null">
                    #{o.storePattern,jdbcType=TINYINT},
                </if>
                <if test="o.outputContent != null">
                    #{o.outputContent,jdbcType=VARCHAR},
                </if>
                <if test="o.createTime != null">
                    #{o.createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="o.updateTime != null">
                    #{o.updateTime,jdbcType=TIMESTAMP},
                </if>
            </trim>
        </foreach>
    </insert>
</mapper>
