<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moirae.rosettaflow.mapper.WorkflowMapper">
    <resultMap id="BaseResultMap" type="com.moirae.rosettaflow.mapper.domain.Workflow">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="project_id" jdbcType="BIGINT" property="projectId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="workflow_name" jdbcType="VARCHAR" property="workflowName"/>
        <result column="workflow_desc" jdbcType="VARCHAR" property="workflowDesc"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="sign" jdbcType="VARCHAR" property="sign"/>
        <result column="edit_version" jdbcType="BIGINT" property="editVersion"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <select id="queryWorkFlowAndStatusPageList" resultType="com.moirae.rosettaflow.dto.WorkflowDto">
        SELECT
            w.id AS id,
            w.workflow_name AS workflowName,
            w.workflow_desc AS workflowDesc,
            IFNULL((SELECT ws.`run_status` FROM `t_workflow_run_status` ws WHERE ws.`workflow_id` = w.`id` AND ws.`workflow_edit_version` = w.`edit_version` ORDER BY ws.`id` DESC LIMIT 1) , 0) AS runStatus,
            w.create_time AS createTime,
            u.user_name AS userName
        FROM t_workflow w INNER JOIN t_user u ON w.user_id = u.id
        WHERE w.project_id = #{projectId, jdbcType=BIGINT} AND w.status = 1 AND u.status = 1
        <if test="workflowName != null and workflowName != ''">
            and w.workflow_name like concat('%',#{workflowName, jdbcType=VARCHAR},'%')
        </if>
        ORDER BY w.create_time DESC
    </select>

    <select id="queryWorkFlowAndStatus" resultType="com.moirae.rosettaflow.mapper.domain.Workflow">
        SELECT
            w.`id` AS id,
            w.`edit_version` AS editVersion,
            IFNULL((SELECT ws.`run_status` FROM `t_workflow_run_status` ws WHERE ws.`workflow_id` = w.`id` AND ws.`workflow_edit_version` = w.`edit_version` ORDER BY ws.`id` DESC LIMIT 1) , 0) AS runStatus,
            w.project_id AS projectId
        FROM `t_workflow` w
        WHERE w.`id` = #{workflowId, jdbcType=BIGINT} AND w.`status` = 1
    </select>

    <delete id="deleteWorkflowAllNodeData">
        DELETE from t_workflow_node where id in (
            select id from (
                select id from t_workflow_node where workflow_id=#{workflowId, jdbcType=BIGINT}) t);

        DELETE from t_workflow_node_input where workflow_node_id in (
            select id from (
                select id from t_workflow_node where workflow_id=#{workflowId, jdbcType=BIGINT}) t);

        DELETE from t_workflow_node_output where workflow_node_id in (
            select id from (
                select id from t_workflow_node where workflow_id=#{workflowId, jdbcType=BIGINT}) t);

        DELETE from t_workflow_node_code where workflow_node_id in (
            select id from (
                select id from t_workflow_node where workflow_id=#{workflowId, jdbcType=BIGINT}) t);

        DELETE from t_workflow_node_resource where workflow_node_id in (
            select id from (
                select id from t_workflow_node where workflow_id=#{workflowId, jdbcType=BIGINT}) t);

        DELETE from t_workflow_node_variable where workflow_node_id in (
            select id from (
                select id from t_workflow_node where workflow_id=#{workflowId, jdbcType=BIGINT}) t);
    </delete>
</mapper>
