<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moirae.rosettaflow.mapper.WorkflowVersionMapper">

    <select id="getWorkflowVersionList" resultType="com.moirae.rosettaflow.mapper.domain.WorkflowVersion">
        select
            mwv.workflow_id,
            mwv.workflow_version,
            mwv.workflow_version_name,
            mwv.create_time,
            mwrs.run_status as status,
            mwrs.begin_time,
            mwrs.end_time,
            mw.create_mode
        from mo_workflow_version mwv left join mo_workflow_run_status mwrs on (mwv.workflow_id = mwrs.workflow_id and  mwv.workflow_version = mwrs.workflow_version)
            inner join mo_workflow mw on mw.workflow_id = mwv.workflow_id
        where mwv.workflow_id = #{workflowId}
    </select>
</mapper>
