<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moirae.rosettaflow.mapper.ZOldWorkflowNodeCodeMapper">
    <resultMap id="BaseResultMap" type="com.moirae.rosettaflow.mapper.domain.ZOldWorkflowNodeCode">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="workflow_node_id" jdbcType="BIGINT" property="workflowNodeId"/>
        <result column="edit_type" jdbcType="TINYINT" property="editType"/>
        <result column="calculate_contract_code" jdbcType="VARCHAR" property="calculateContractCode"/>
        <result column="data_split_contract_code" jdbcType="VARCHAR" property="dataSplitContractCode"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <insert id="batchInsert">
        <foreach collection="workflowNodeCodeList" item="c" separator=";">
            insert into t_workflow_node_code
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="c.workflowNodeId != null">
                    workflow_node_id,
                </if>
                <if test="c.editType != null">
                    edit_type,
                </if>
                <if test="c.calculateContractCode != null">
                    calculate_contract_code,
                </if>
                <if test="c.dataSplitContractCode != null">
                    data_split_contract_code,
                </if>
                <if test="c.createTime != null">
                    create_time,
                </if>
                <if test="c.updateTime != null">
                    update_time,
                </if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="c.workflowNodeId != null">
                    #{c.workflowNodeId,jdbcType=BIGINT},
                </if>
                <if test="c.editType != null">
                    #{c.editType,jdbcType=TINYINT},
                </if>
                <if test="c.calculateContractCode != null">
                    #{c.calculateContractCode,jdbcType=VARCHAR},
                </if>
                <if test="c.dataSplitContractCode != null">
                    #{c.dataSplitContractCode,jdbcType=VARCHAR},
                </if>
                <if test="c.createTime != null">
                    #{c.createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="c.updateTime != null">
                    #{c.updateTime,jdbcType=TIMESTAMP},
                </if>
            </trim>
        </foreach>
    </insert>
</mapper>
