<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moirae.rosettaflow.mapper.ZOldWorkflowRunTaskStatusMapper">
    <select id="queryUnConfirmedWorkflowRunTaskStatus"
            resultType="com.moirae.rosettaflow.mapper.domain.ZOldWorkflowRunTaskStatus">
        select
            twrts.id as id,
            twrts.workflow_run_id as workflowRunId,
            twrts.workflow_node_id as workflowNodeId,
            twrts.node_step as nodeStep,
            twrts.begin_time as beginTime,
            twrts.end_time as endTime,
            twrts.run_status as runStatus,
            twrts.task_id as taskId,
            twrts.run_msg as runMsg,
            twrts.model_id as modelId,
            twrts.create_time as createTime,
            twrts.update_time as updateTime,
            twn.sender_identity_id as senderIdentityId
        from t_workflow_run_task_status twrts join t_workflow_node twn on twrts.workflow_node_id = twn.id
        where twrts.run_status = 1 and twrts.task_id is not null
    </select>
</mapper>
