<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datum.platform.mapper.MetaDataCertificateMapper">

    <select id="getNoAttributeCredentialByMetaDataId" resultType="com.datum.platform.mapper.domain.MetaDataCertificate">
        select mmdc.id,
               mmdc.meta_data_id,
               mmdc.type,
               mmdc.token_address,
               mmdc.is_support_pt_alg,
               mmdc.is_support_ct_alg,
               mmdc.characteristic,
               mmdc.erc20_pt_alg_consume,
               mmdc.erc20_ct_alg_consume,
               mt.name as tokenName,
               mt.symbol as tokenSymbol,
               mt.`decimal` as tokenDecimal
        from mo_meta_data_certificate mmdc left join mo_token mt on mmdc.token_address = mt.address
        where mmdc.meta_data_id = #{metaDataId}
            and mmdc.type = 0
    </select>
    <select id="getNoAttributeCredentialByMetaDataIdAndUser" resultType="com.datum.platform.mapper.domain.MetaDataCertificate">
        select mmdc.id,
               mmdc.meta_data_id,
               mmdc.type,
               mmdc.token_address,
               mmdc.is_support_pt_alg,
               mmdc.is_support_ct_alg,
               mmdc.characteristic,
               mmdc.erc20_pt_alg_consume,
               mmdc.erc20_ct_alg_consume,
               mt.name as tokenName,
               mt.symbol as tokenSymbol,
               mt.`decimal` as tokenDecimal,
               mmdcu.balance as tokenBalance,
               mmdcu.authorize_balance as authorizeBalance
        from mo_meta_data_certificate mmdc left join mo_token mt on mmdc.token_address = mt.address
            inner join mo_meta_data_certificate_user mmdcu on mmdc.id = mmdcu.meta_data_certificate_id
        where mmdc.meta_data_id = #{metaDataId}
          and mmdc.type = 0
          and mmdcu.address = #{address}
    </select>
    <select id="pageHaveAttributesCertificateByMetaDataId"  resultType="com.datum.platform.mapper.domain.MetaDataCertificate">
        select mmdc.id,
               mmdc.meta_data_id,
               mmdc.type,
               mmdc.token_address,
               mmdc.token_id,
               mmdc.is_support_pt_alg,
               mmdc.is_support_ct_alg,
               mmdc.characteristic,
               mmdc.name as tokenName
        from mo_meta_data_certificate mmdc left join mo_token mt on mmdc.token_address = mt.address
        where mmdc.meta_data_id = #{metaDataId}
          and mmdc.type = 1
          and mmdc.name is not null
        order by mmdc.token_id desc
    </select>
    <select id="pageHaveAttributesCertificateByMetaDataIdAndUser" resultType="com.datum.platform.mapper.domain.MetaDataCertificate">
        select mmdc.id,
               mmdc.meta_data_id,
               mmdc.type,
               mmdc.token_address,
               mmdc.token_id,
               mmdc.is_support_pt_alg,
               mmdc.is_support_ct_alg,
               mmdc.characteristic,
               mmdc.name as tokenName
        from mo_meta_data_certificate mmdc left join mo_token mt on mmdc.token_address = mt.address
               inner join mo_meta_data_certificate_user mmdcu on mmdc.id = mmdcu.meta_data_certificate_id
        where mmdc.meta_data_id = #{metaDataId}
          and mmdc.type = 1
          and mmdc.name is not null
          and mmdcu.balance = 1
          and mmdcu.address = #{address}
    </select>
    <select id="listHaveAttributesCertificateByMetaDataIdAndUser" resultType="com.datum.platform.mapper.domain.MetaDataCertificate">
        select mmdc.id,
               mmdc.meta_data_id,
               mmdc.type,
               mmdc.token_address,
               mmdc.token_id,
               mmdc.is_support_pt_alg,
               mmdc.is_support_ct_alg,
               mmdc.characteristic,
               mmdc.create_time,
               mmdc.update_time,
               mt.name as tokenName,
               mt.symbol as tokenSymbol,
               mt.`decimal` as tokenDecimal
        from mo_meta_data_certificate mmdc left join mo_token mt on mmdc.token_address = mt.address
            inner join mo_meta_data_certificate_user mmdcu on mmdc.id = mmdcu.meta_data_certificate_id
        where mmdc.meta_data_id = #{metaDataId}
          and mmdc.type = 1
          and mmdcu.address = #{address}
    </select>
    <select id="listCertificateByMetaDataIdListAndUser" resultType="com.datum.platform.mapper.domain.MetaDataCertificate">
        select mmdc.id,
               mmdc.meta_data_id,
               mmdc.type,
               mmdc.token_address,
               mmdc.token_id,
               mmdc.is_support_pt_alg,
               mmdc.is_support_ct_alg,
               mmdc.characteristic,
               mmdc.create_time,
               mmdc.update_time,
               mt.name as tokenName,
               mt.symbol as tokenSymbol,
               mt.`decimal` as tokenDecimal,
               mmdcu.balance,
               mmdcu.authorize_balance
        from mo_meta_data_certificate mmdc left join mo_token mt on mmdc.token_address = mt.address
            inner join mo_meta_data_certificate_user mmdcu on mmdc.id = mmdcu.meta_data_certificate_id
        where mmdc.id in
              <foreach collection="credentialIdList" item="credentialId" index="index" open="(" close=")" separator=",">
                #{credentialId}
              </foreach>
        and mmdcu.address = #{address}
    </select>
    <select id="listMetaDataIdByIds" resultType="java.lang.String">
        select distinct mmdc.meta_data_id
        from mo_meta_data_certificate mmdc
        where mmdc.id in
        <foreach collection="credentialIdList" item="credentialId" index="index" open="(" close=")" separator=",">
            #{credentialId}
        </foreach>
    </select>
</mapper>
