<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datum.platform.mapper.MetaDataMapper">
    <select id="getDataListByOrg" resultType="com.datum.platform.mapper.domain.MetaData">
        select dmd.meta_data_id,
               dmd.file_name as metaDataName,
               dmd.published_at,
               dmd.identity_id,
               do.node_name,
               dmd.size,
               dmd.industry,
               dmd.is_support_ct_alg,
               dmd.is_support_pt_alg,
               moe.is_authority,
               moe.is_certified
        from dc_meta_data dmd
            inner join dc_org do on dmd.identity_id = do.identity_id
            inner join mo_meta_data_marketplace mmdm on dmd.meta_data_id = mmdm.meta_data_id
            inner join mo_org_expand moe on dmd.identity_id = moe.identity_id
        where dmd.identity_id = #{identityId}
        order by dmd.published_at desc
    </select>
    <select id="getDataList" resultType="com.datum.platform.mapper.domain.MetaData">
        select dmd.meta_data_id,
               dmd.file_name as metaDataName,
               dmd.published_at,
               dmd.identity_id,
               do.node_name,
               dmd.size,
               dmd.industry,
               dmd.is_support_ct_alg,
               dmd.is_support_pt_alg,
               moe.is_authority,
               moe.is_certified
        from dc_meta_data dmd
            inner join dc_org do on dmd.identity_id = do.identity_id
            inner join mo_meta_data_marketplace mmdm on dmd.meta_data_id = mmdm.meta_data_id
            inner join mo_org_expand moe on dmd.identity_id = moe.identity_id
        where 1 = 1
            <if test="keyword != null and keyword != ''">
                and dmd.file_name like concat('%', #{keyword}, '%')
            </if>
            <if test="industry != null and industry != ''">
                and dmd.industry = #{industry}
            </if>
            <if test="fileType != null">
                and dmd.file_type = #{fileType}
            </if>
            <if test="minSize != null">
                and dmd.size <![CDATA[>=]]> #{minSize}
            </if>
            <if test="maxSize != null">
                and dmd.size <![CDATA[<=]]> #{maxSize}
             </if>
        order by ${orderBy}
    </select>
    <select id="getDataDetails" resultType="com.datum.platform.mapper.domain.MetaData">
        select dmd.meta_data_id,
               dmd.file_name as metaDataName,
               dmd.published_at,
               dmd.identity_id,
               do.node_name,
               dmd.size,
               dmd.industry,
               dmd.is_support_ct_alg,
               dmd.is_support_pt_alg,
               dmd.file_type,
               dmd.rows,
               dmd.columns,
               dmd.remarks,
               dmd.is_support_pt_alg,
               dmd.is_support_ct_alg,
               dmd.owner_address,
               dmd.erc20_address,
               dmd.erc721_address
        from dc_meta_data dmd
                 inner join dc_org do on dmd.identity_id = do.identity_id
        where dmd.meta_data_id = #{metaDataId}
    </select>
    <select id="getUserDataList" resultType="com.datum.platform.mapper.domain.MetaData">
        select dmd.meta_data_id,
               dmd.file_name as metaDataName,
               dmd.published_at,
               dmd.identity_id,
               do.node_name,
               dmd.size,
               dmd.industry,
               dmd.is_support_ct_alg,
               dmd.is_support_pt_alg,
               moe.is_authority,
               moe.is_certified
        from dc_meta_data dmd
            inner join dc_org do on dmd.identity_id = do.identity_id
            inner join mo_meta_data_user mmdu on mmdu.meta_data_id = dmd.meta_data_id and mmdu.address = #{address}
            inner join mo_org_expand moe on dmd.identity_id = moe.identity_id
        where 1 = 1
          <if test="keyword != null and keyword != ''">
            and dmd.file_name like concat('%', #{keyword}, '%')
          </if>
          <if test="identityId != null and identityId != ''">
            and dmd.identity_id = #{identityId}
          </if>
          <if test="includeExpired == false">
              and ( mmdu.no_attr_number > 0 or mmdu.eff_have_attr_number > 0)
          </if>
        order by mmdu.create_time desc
    </select>

    <select id="getUserAuthDataList" resultType="com.datum.platform.mapper.domain.MetaData">
        select dmd.meta_data_id,
               dmd.file_name as metaDataName,
               dmd.erc20_address as tokenAddress,
               mt.name as tokenName,
               mt.price as tokenPrice,
               mt.symbol as tokenSymbol,
               mt.`decimal` as tokenDecimal,
               mmdcu.balance as tokenBalance,
               mmdcu.authorize_balance as authorizeBalance
        from dc_meta_data dmd
            inner join dc_org do on dmd.identity_id = do.identity_id
            inner join mo_meta_data_user mmdu on mmdu.meta_data_id = dmd.meta_data_id and mmdu.address = #{address}
            inner join mo_token mt on dmd.erc20_address = mt.address
            inner join mo_meta_data_certificate mmdc on mmdc.meta_data_id = dmd.meta_data_id and mmdc.type = 0
            inner join mo_meta_data_certificate_user mmdcu on mmdc.id = mmdcu.meta_data_certificate_id and mmdcu.address = #{address}
        where 1 = 1
        <if test="keyword != null and keyword != ''">
            and ( dmd.file_name like concat('%', #{keyword}, '%') or mt.name like concat('%', #{keyword}, '%') )
        </if>
        order by mmdu.create_time desc
    </select>


    <select id="sizeOfData" resultType="java.lang.Long">
        select sum(dmd.size)
        from dc_meta_data dmd inner join mo_token mt on dmd.token_address = mt.address
        where  mt.is_add_liquidity = 1 and dmd.status = 2
    </select>
    <select id="statisticsOfGlobal" resultType="com.datum.platform.mapper.domain.MetaData">
        select ifnull(sum(dmd.size),0) as totalSize,
               count(1) as totalCount
        from dc_meta_data dmd inner join mo_meta_data_marketplace mmdm on dmd.meta_data_id = mmdm.meta_data_id
        where  dmd.status = 2
    </select>

    <select id="listDataOrgIdByUser" resultType="string">
        select distinct
        dmd.identity_id
        from dc_meta_data dmd inner join mo_meta_data_marketplace mmdm on dmd.meta_data_id = mmdm.meta_data_id
           inner join mo_meta_data_user mddu on dmd.meta_data_id = mddu.meta_data_id and mddu.address =  #{address} and (mddu.no_attr_number > 0 or mddu.eff_have_attr_number > 0)
        where dmd.status = 2
        <if test="algorithmType != null and algorithmType == 0 ">
            and dmd.is_support_ct_alg = 1
        </if>
        <if test="algorithmType != null and algorithmType == 1 ">
            and dmd.is_support_pt_alg = 1
        </if>
    </select>
</mapper>
