<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datum.platform.mapper.MetaDataMapper">
    <select id="getDataListByOrg" resultType="com.datum.platform.mapper.domain.MetaData">
        select dmd.meta_data_id,
               dmd.file_name as metaDataName,
               dmd.published_at,
               dmd.identity_id,
               do.node_name,
               mt.name as tokenName,
               mt.symbol as tokenSymbol,
               mt.price as tokenPrice
        from dc_meta_data dmd
            inner join dc_org do on dmd.identity_id = do.identity_id
            inner join mo_token mt on dmd.token_address = mt.address
        where dmd.status = 2
            and mt.is_add_liquidity = 1
            and dmd.identity_id = #{identityId}
        order by dmd.published_at desc
    </select>
    <select id="getDataList" resultType="com.datum.platform.mapper.domain.MetaData">
        select dmd.meta_data_id,
               dmd.file_name as metaDataName,
               dmd.published_at,
               dmd.identity_id,
               do.node_name,
               dmd.token_address,
               mt.name as tokenName,
               mt.symbol as tokenSymbol,
               mt.price as tokenPrice
        from dc_meta_data dmd
            inner join dc_org do on dmd.identity_id = do.identity_id
            inner join mo_token mt on dmd.token_address = mt.address
        where dmd.status = 2
            and mt.is_add_liquidity = 1
            <if test="keyword != null and keyword != ''">
                and ( dmd.file_name like concat('%', #{keyword}, '%') or mt.name like concat('%', #{keyword}, '%') )
            </if>
            <if test="industry != null and industry != ''">
                and dmd.industry = #{industry}
            </if>
            <if test="fileType != null">
                and dmd.file_type = #{fileType}
            </if>
            <if test="minSize != null">
                and dmd.size <![CDATA[>=]]> #{minSize}
            </if>
            <if test="maxSize != null">
                and dmd.size <![CDATA[<=]]> #{maxSize}
             </if>
        order by ${orderBy}
    </select>
    <select id="getDataDetails" resultType="com.datum.platform.mapper.domain.MetaData">
        select dmd.meta_data_id,
               dmd.file_name as metaDataName,
               dmd.identity_id,
               do.node_name,
               mt.name as tokenName,
               mt.price as tokenPrice,
               dmd.file_type,
               mt.symbol as tokenSymbol,
               dmd.published_at,
               dmd.industry,
               dmd.size,
               dmd.rows,
               dmd.columns,
               dmd.remarks
        from dc_meta_data dmd
                 inner join dc_org do on dmd.identity_id = do.identity_id
                 inner join mo_token mt on dmd.token_address = mt.address
        where dmd.status = 2
            and mt.is_add_liquidity = 1
            and dmd.meta_data_id = #{metaDataId}
    </select>
    <select id="getUserDataList" resultType="com.datum.platform.mapper.domain.MetaData">
        select dmd.meta_data_id,
               dmd.file_name as metaDataName,
               dmd.identity_id,
               do.node_name,
               dmd.token_address,
               mt.name as tokenName,
               mt.price as tokenPrice,
               mt.symbol as tokenSymbol,
               mt.`decimal` as tokenDecimal,
               mth.balance as tokenBalance,
               mth.authorize_balance as authorizeBalance
        from dc_meta_data dmd
                 inner join dc_org do on dmd.identity_id = do.identity_id
                 inner join mo_token mt on dmd.token_address = mt.address
                 inner join mo_token_holder mth on mt.address = mth.token_address and mth.address = #{address}
        where dmd.status = 2
          and mt.is_add_liquidity = 1
          <if test="keyword != null and keyword != ''">
            and ( dmd.file_name like concat('%', #{keyword}, '%') or mt.name like concat('%', #{keyword}, '%') )
          </if>
          <if test="identityId != null and identityId != ''">
            and dmd.identity_id = #{identityId}
          </if>
        order by mth.balance desc
    </select>
    <select id="sizeOfData" resultType="java.lang.Long">
        select sum(dmd.size)
        from dc_meta_data dmd inner join mo_token mt on dmd.token_address = mt.address
        where  mt.is_add_liquidity = 1 and dmd.status = 2
    </select>
    <select id="statisticsOfGlobal" resultType="com.datum.platform.mapper.domain.MetaData">
        select ifnull(sum(dmd.size),0) as totalSize,
               count(1) as totalCount
        from dc_meta_data dmd inner join mo_token mt on dmd.token_address = mt.address
        where  mt.is_add_liquidity = 1 and dmd.status = 2
    </select>

    <select id="listDataOrgIdByUser" resultType="string">
        select distinct
        dmd.identity_id
        from dc_meta_data dmd
        inner join dc_org do on dmd.identity_id = do.identity_id
        inner join mo_token mt on dmd.token_address = mt.address
        inner join mo_token_holder mth on mt.address = mth.token_address and mth.address = #{address}
        where dmd.status = 2
        and mt.is_add_liquidity = 1
    </select>
</mapper>
