<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datum.platform.mapper.MetaDataUserMapper">

    <insert id="saveBatch">
        insert into mo_meta_data_user(address, meta_data_id) values
        <foreach collection="addList" item="item" index="index" separator=",">
            (#{item.address}, #{item.metaDataId})
        </foreach>
    </insert>
    <update id="batchUpdate">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update mo_meta_data_user
            set `no_attr_number` = #{item.noAttrNumber},  `have_attr_number` = #{item.haveAttrNumber}, `eff_have_attr_number` = #{item.effHaveAttrNumber}
            where `address` = #{item.address} and `meta_data_id` = #{item.metaDataId}
        </foreach>
    </update>
</mapper>
