<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datum.platform.mapper.ModelMapper">
    <select id="queryAvailableModel" resultType="com.datum.platform.mapper.domain.Model">
        select
            m.meta_data_id as metaDataId,
            m.identity_id as identityId,
            m.name as fileName,
            m.file_path as filePath
        FROM mo_model m INNER JOIN mo_algorithm a ON m.train_algorithm_id = a.algorithm_id
        where m.train_user_address = #{address, jdbcType=VARCHAR} and m.supported_algorithm_id = #{algorithmId, jdbcType=BIGINT}
            and m.identity_id = #{identityId, jdbcType=VARCHAR}
    </select>
</mapper>
