<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datum.platform.mapper.OrgUserMapper">

    <select id="getIdentityIdListByUser" resultType="java.lang.String">
        SELECT o.`identity_id`
        FROM `dc_org` o join `mo_org_expand` oe on o.`identity_id` = oe.`identity_id`
        WHERE o.`status` = 1 AND (oe.`is_public` = 1 OR o.`identity_id` IN ( SELECT `identity_id` FROM `mo_org_user` WHERE `address` = #{address, jdbcType=VARCHAR}))
    </select>

    <select id="getUserOrgList" resultType="com.datum.platform.mapper.domain.Org">
        SELECT
            o.`node_name`,
            o.`identity_id`,
            o.`status`,
            o.update_at,
            oe.`identity_ip`,
            oe.observer_proxy_wallet_address,
            oe.`identity_port`,
            oe.`is_public` as public_flag
        FROM `dc_org` o join `mo_org_expand` oe on o.`identity_id` = oe.`identity_id`
        WHERE `status` = 1 AND (oe.`is_public` = 1 OR o.`identity_id` IN ( SELECT `identity_id` FROM `mo_org_user` WHERE `address` = #{address, jdbcType=VARCHAR}))
    </select>
</mapper>
