<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.rosettaflow.mapper.MetaDataDetailsMapper">
    <resultMap id="BaseResultMap" type="com.platon.rosettaflow.mapper.domain.MetaDataDetails">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="meta_data_id" jdbcType="VARCHAR" property="metaDataId"/>
        <result column="column_index" jdbcType="INTEGER" property="columnIndex"/>
        <result column="column_name" jdbcType="VARCHAR" property="columnName"/>
        <result column="column_type" jdbcType="VARCHAR" property="columnType"/>
        <result column="column_size" jdbcType="BIGINT" property="columnSize"/>
        <result column="column_desc" jdbcType="VARCHAR" property="columnDesc"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, meta_data_id, column_index, `column_name`, column_type, column_size, column_desc,
    `status`, create_time, update_time
  </sql>
    <update id="truncate">
        TRUNCATE TABLE t_meta_data_details
    </update>

    <insert id="batchInsert">
        <foreach collection="metaDataDetailsList" item="metaDataDetails" separator=";">
            insert ignore into t_meta_data_details
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="metaDataDetails.metaDataId != null">
                    meta_data_id,
                </if>
                <if test="metaDataDetails.columnIndex != null">
                    column_index,
                </if>
                <if test="metaDataDetails.columnName != null">
                    `column_name`,
                </if>
                <if test="metaDataDetails.columnType != null">
                    column_type,
                </if>
                <if test="metaDataDetails.columnSize != null">
                    column_size,
                </if>
                <if test="metaDataDetails.columnDesc != null">
                    column_desc,
                </if>
                <if test="metaDataDetails.status != null">
                    `status`,
                </if>
                <if test="metaDataDetails.createTime != null">
                    create_time,
                </if>
                <if test="metaDataDetails.updateTime != null">
                    update_time,
                </if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="metaDataDetails.metaDataId != null">
                    #{metaDataDetails.metaDataId,jdbcType=VARCHAR},
                </if>
                <if test="metaDataDetails.columnIndex != null">
                    #{metaDataDetails.columnIndex,jdbcType=INTEGER},
                </if>
                <if test="metaDataDetails.columnName != null">
                    #{metaDataDetails.columnName,jdbcType=VARCHAR},
                </if>
                <if test="metaDataDetails.columnType != null">
                    #{metaDataDetails.columnType,jdbcType=VARCHAR},
                </if>
                <if test="metaDataDetails.columnSize != null">
                    #{metaDataDetails.columnSize,jdbcType=BIGINT},
                </if>
                <if test="metaDataDetails.columnDesc != null">
                    #{metaDataDetails.columnDesc,jdbcType=VARCHAR},
                </if>
                <if test="metaDataDetails.status != null">
                    #{metaDataDetails.status,jdbcType=TINYINT},
                </if>
                <if test="metaDataDetails.createTime != null">
                    #{metaDataDetails.createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="metaDataDetails.updateTime != null">
                    #{metaDataDetails.updateTime,jdbcType=TIMESTAMP},
                </if>
            </trim>
        </foreach>
    </insert>
</mapper>