<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.rosettaflow.mapper.SubJobMapper">
    <resultMap id="BaseResultMap" type="com.platon.rosettaflow.mapper.domain.SubJob">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="job_id" jdbcType="BIGINT" property="jobId"/>
        <result column="workflow_id" jdbcType="BIGINT" property="workflowId"/>
        <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="run_time" jdbcType="VARCHAR" property="runTime"/>
        <result column="sub_job_status" jdbcType="TINYINT" property="subJobStatus"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, job_id, workflow_id, begin_time, end_time, run_time, sub_job_status, `status`, 
    create_time, update_time
  </sql>
</mapper>