<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.rosettaflow.mapper.UserMetaDataMapper">
    <resultMap id="BaseResultMap" type="com.platon.rosettaflow.mapper.domain.UserMetaData">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="meta_data_id" jdbcType="VARCHAR" property="metaDataId"/>
        <result column="identity_id" jdbcType="VARCHAR" property="identityId"/>
        <result column="identity_name" jdbcType="VARCHAR" property="identityName"/>
        <result column="node_id" jdbcType="VARCHAR" property="nodeId"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="auth_type" jdbcType="TINYINT" property="authType"/>
        <result column="auth_value" jdbcType="BIGINT" property="authValue"/>
        <result column="auth_begin_time" jdbcType="TIMESTAMP" property="authBeginTime"/>
        <result column="auth_end_time" jdbcType="TIMESTAMP" property="authEndTime"/>
        <result column="auth_status" jdbcType="TINYINT" property="authStatus"/>
        <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime"/>
        <result column="audit_time" jdbcType="TIMESTAMP" property="auditTime"/>
        <result column="expire" jdbcType="TINYINT" property="expire"/>
        <result column="used_times" jdbcType="BIGINT" property="usedTimes"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, meta_data_id, identity_id, identity_name, node_id, address, auth_type, auth_value, 
    auth_begin_time, auth_end_time, auth_status, apply_time, audit_time, expire, used_times, 
    `status`, create_time, update_time
  </sql>

    <update id="truncate">
        TRUNCATE TABLE t_user_meta_data
  </update>
    <select id="listByOwner" resultType="com.platon.rosettaflow.dto.UserMetaDataDto">
        SELECT
        u.id,
        m.data_name,
        u.meta_data_id,
        u.identity_id,
        u.identity_name,
        u.node_id,
        u.address,
        u.auth_type,
        u.auth_value,
        u.auth_begin_time,
        u.auth_end_time,
        u.auth_status,
        u.apply_time,
        u.audit_time,
        u.`status`,
        u.create_time,
        u.update_time
        FROM
        t_user_meta_data u
        LEFT JOIN t_meta_data m ON u.meta_data_id = m.meta_data_id
        WHERE
        u.address = #{address,jdbcType=VARCHAR}
        AND u.`status` = 1
        <if test="dataName != null and dataName != ''">
            AND m.data_name like concat('%',#{dataName, jdbcType=VARCHAR},'%')
        </if>
    </select>
    <select id="getUserMetaDataByAddress" resultType="com.platon.rosettaflow.dto.UserMetaDataDto">
        SELECT DISTINCT
            umd.identity_id,
            umd.identity_name
        FROM
            t_user_meta_data umd
        INNER JOIN
            t_user u
        ON umd.address = u.address
        WHERE
            (umd.auth_type = 1 AND expire = 0)
        OR (
            umd.auth_type = 2 AND used_times <![CDATA[ < ]]> auth_value
        )
        AND
            umd.status = '1'
        AND
            umd.address = #{address, jdbcType=VARCHAR}
    </select>
</mapper>