<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.rosettaflow.mapper.WorkflowNodeOutputMapper">
    <resultMap id="BaseResultMap" type="com.platon.rosettaflow.mapper.domain.WorkflowNodeOutput">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="workflow_node_id" jdbcType="BIGINT" property="workflowNodeId"/>
        <result column="identity_id" jdbcType="VARCHAR" property="identityId"/>
        <result column="identity_name" jdbcType="VARCHAR" property="identityName"/>
        <result column="sender_flag" jdbcType="TINYINT" property="senderFlag"/>
        <result column="party_id" jdbcType="VARCHAR" property="partyId"/>
        <result column="node_id" jdbcType="VARCHAR" property="nodeId"/>
        <result column="store_pattern" jdbcType="TINYINT" property="storePattern"/>
        <result column="store_path" jdbcType="VARCHAR" property="storePath"/>
        <result column="output_content" jdbcType="VARCHAR" property="outputContent"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, workflow_node_id, identity_id, identity_name, sender_flag, party_id, node_id,
    store_pattern, store_path, output_content, `status`, create_time, update_time
  </sql>
</mapper>