<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.rosettaflow.mapper.WorkflowMapper">
    <resultMap id="BaseResultMap" type="com.platon.rosettaflow.mapper.domain.Workflow">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="project_id" jdbcType="BIGINT" property="projectId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="workflow_name" jdbcType="VARCHAR" property="workflowName"/>
        <result column="workflow_desc" jdbcType="VARCHAR" property="workflowDesc"/>
        <result column="node_number" jdbcType="INTEGER" property="nodeNumber"/>
        <result column="sign" jdbcType="VARCHAR" property="sign"/>
        <result column="run_status" jdbcType="TINYINT" property="runStatus"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, project_id, user_id, workflow_name, workflow_desc, node_number,sign, run_status, `status`,
    create_time, update_time
  </sql>
    <select id="listByProjectId" resultType="com.platon.rosettaflow.dto.WorkflowDto">
        SELECT
            w.id,
            w.project_id,
            u.user_name,
            w.workflow_name,
            w.run_status,
            w.`STATUS`,
            w.create_time,
            GROUP_CONCAT(wni.identity_name) AS coordinators
        FROM
            t_workflow w
        LEFT JOIN t_workflow_node wn ON w.id = wn.workflow_id
        LEFT JOIN t_workflow_node_input wni ON wn.id = wni.workflow_node_id
        LEFT JOIN t_user u ON w.user_id = u.id
        GROUP BY
            w.id,
            w.project_id,
            w.user_id,
            w.workflow_name,
            w.run_status,
            w.`STATUS`,
            w.create_time
        WHERE
            w.project_id = #{projectId}
        <if test="workflowName != null and workflowName != ''">
            AND
            w.workflow_name like concat('%',#{workflowName, jdbcType=VARCHAR},'%')
        </if>
    </select>
</mapper>