<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.rosettaflow.mapper.WorkflowMapper">
    <resultMap id="BaseResultMap" type="com.platon.rosettaflow.mapper.domain.Workflow">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="project_id" jdbcType="BIGINT" property="projectId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="workflow_name" jdbcType="VARCHAR" property="workflowName"/>
        <result column="workflow_desc" jdbcType="VARCHAR" property="workflowDesc"/>
        <result column="node_number" jdbcType="INTEGER" property="nodeNumber"/>
        <result column="sign" jdbcType="VARCHAR" property="sign"/>
        <result column="run_status" jdbcType="TINYINT" property="runStatus"/>
        <result column="del_version" jdbcType="BIGINT" property="delVersion"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,
        project_id,
        user_id,
        workflow_name,
        workflow_desc,
        node_number,
        sign,
        run_status,
        del_version,
        `status`,
        create_time,
        update_time
    </sql>
    <select id="queryWorkFlowList" resultType="com.platon.rosettaflow.dto.WorkflowDto">
        SELECT
            w.id as id,
            w.workflow_name as workflowName,
            w.run_status as runStatus,
            w.create_time as createTime,
            (select user_name from t_user u where u.status = '1' and w.user_id = u.id) as userName
        FROM
            t_workflow w
        WHERE 1=1
            and w.status = '1'
            and w.project_id = #{projectId, jdbcType=BIGINT}
            <if test="workflowName != null and workflowName != ''">
                and w.workflow_name like concat('%',#{workflowName, jdbcType=VARCHAR},'%')
            </if>
            order by w.create_time desc
    </select>
</mapper>