<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.rosettaflow.mapper.WorkflowNodeInputMapper">
    <resultMap id="BaseResultMap" type="com.platon.rosettaflow.mapper.domain.WorkflowNodeInput">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="workflow_node_id" jdbcType="BIGINT" property="workflowNodeId"/>
        <result column="identity_id" jdbcType="VARCHAR" property="identityId"/>
        <result column="data_table_id" jdbcType="VARCHAR" property="dataTableId"/>
        <result column="key_column" jdbcType="BIGINT" property="keyColumn" />
        <result column="dependent_variable" jdbcType="BIGINT" property="dependentVariable" />
        <result column="data_column_ids" jdbcType="VARCHAR" property="dataColumnIds"/>
        <result column="data_file_id" jdbcType="VARCHAR" property="dataFileId"/>
        <result column="sender_flag" jdbcType="TINYINT" property="senderFlag"/>
        <result column="party_id" jdbcType="VARCHAR" property="partyId"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, workflow_node_id, identity_id, data_table_id,
    data_column_id, data_file_id,sender_flag, party_id, `status`, create_time, update_time
  </sql>
    <insert id="batchInsert">
        <foreach collection="workflowNodeInputList" item="i" separator=";">
            insert into t_workflow_node_input
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="i.workflowNodeId != null">
                    workflow_node_id,
                </if>
                <if test="i.identityId != null">
                    identity_id,
                </if>
                <if test="i.dataTableId != null">
                    data_table_id,
                </if>
                <if test="i.keyColumn != null">
                    key_column,
                </if>
                <if test="i.dependentVariable != null">
                    dependent_variable,
                </if>
                <if test="i.dataColumnIds != null">
                    data_column_ids,
                </if>
                <if test="i.dataFileId != null">
                    data_file_id,
                </if>
                <if test="i.senderFlag != null">
                    sender_flag,
                </if>
                <if test="i.partyId != null">
                    party_id,
                </if>
                <if test="i.status != null">
                    `status`,
                </if>
                <if test="i.createTime != null">
                    create_time,
                </if>
                <if test="i.updateTime != null">
                    update_time,
                </if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="i.workflowNodeId != null">
                    #{i.workflowNodeId,jdbcType=BIGINT},
                </if>
                <if test="i.identityId != null">
                    #{i.identityId,jdbcType=VARCHAR},
                </if>
                <if test="i.dataTableId != null">
                    #{i.dataTableId,jdbcType=VARCHAR},
                </if>
                <if test="i.keyColumn != null">
                    #{i.keyColumn,jdbcType=BIGINT},
                </if>
                <if test="i.dependentVariable != null">
                    #{i.dependentVariable,jdbcType=BIGINT},
                </if>
                <if test="i.dataColumnIds != null">
                    #{i.dataColumnIds,jdbcType=VARCHAR},
                </if>
                <if test="i.dataFileId != null">
                    #{i.dataFileId,jdbcType=VARCHAR},
                </if>
                <if test="i.senderFlag != null">
                    #{i.senderFlag,jdbcType=TINYINT},
                </if>
                <if test="i.partyId != null">
                    #{i.partyId,jdbcType=VARCHAR},
                </if>
                <if test="i.status != null">
                    #{i.status,jdbcType=TINYINT},
                </if>
                <if test="i.createTime != null">
                    #{i.createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="i.updateTime != null">
                    #{i.updateTime,jdbcType=TIMESTAMP},
                </if>
            </trim>
        </foreach>
    </insert>
</mapper>