<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.rosettaflow.mapper.WorkflowNodeVariableMapper">
    <resultMap id="BaseResultMap" type="com.platon.rosettaflow.mapper.domain.WorkflowNodeVariable">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="workflow_node_id" jdbcType="BIGINT" property="workflowNodeId"/>
        <result column="var_node_type" jdbcType="TINYINT" property="varNodeType"/>
        <result column="var_node_key" jdbcType="VARCHAR" property="varNodeKey"/>
        <result column="var_node_value" jdbcType="VARCHAR" property="varNodeValue"/>
        <result column="var_node_desc" jdbcType="VARCHAR" property="varNodeDesc"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, workflow_node_id, var_node_type, var_node_key, var_node_value, var_node_desc, 
    `status`, create_time, update_time
  </sql>
</mapper>