<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.rosettaflow.mapper.WorkflowNodeOutputMapper">
    <resultMap id="BaseResultMap" type="com.platon.rosettaflow.mapper.domain.WorkflowNodeOutput">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="workflow_node_id" jdbcType="BIGINT" property="workflowNodeId"/>
        <result column="identity_id" jdbcType="VARCHAR" property="identityId"/>
        <result column="party_id" jdbcType="VARCHAR" property="partyId"/>
        <result column="sender_flag" jdbcType="TINYINT" property="senderFlag"/>
        <result column="store_pattern" jdbcType="TINYINT" property="storePattern"/>
        <result column="store_path" jdbcType="VARCHAR" property="storePath"/>
        <result column="output_content" jdbcType="VARCHAR" property="outputContent"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, workflow_node_id, identity_id, party_id, sender_flag,
        store_pattern, store_path, output_content, `status`, create_time, update_time
    </sql>
    <select id="getByWorkflowNodeId" resultType="com.platon.rosettaflow.dto.WorkflowNodeOutputDto">
        select
            a.id as id,
            a.workflow_node_id as workflowNodeId,
            a.identity_id as identityId,
            a.party_id as partyId,
            a.sender_flag as senderFlag,
            a.store_pattern as storePattern,
            a.store_path as storePath,
            a.output_content as outputContent,
            b.node_name as identityName
        from
            t_workflow_node_output a, t_organization b
        where 1=1
            and a.status = 1
            and b.status = 1
            and a.identity_id = b.identity_id
            and a.workflow_node_id = #{workflowNodeId, jdbcType=BIGINT}
        order by a.party_id asc
    </select>


</mapper>